<select type="text" name="country" class="formselect">
    <option value="England">England</option>
    <option value="Germany">Germany</option>
    <option value="Ireland">Ireland</option>
    <option value="Nigeria">Nigeria</option>
    <option value="United States of America">United States of America</option>
</select>