<footer class="footerbox">

    <a href="/">Home</a>
            <a href="/quotes">Quotes</a>
            <a href="/quotes/new">AddQuotes</a>
            <a href="/preachers">Preachers</a>
            <a href="/preachers/new">Add Preachers</a>
            <a href="/users">Users</a>
            <a href="/users/new">Sign Up</a>
    
            <br /> <br />
        &copy; 2021 Preacher Quotes<br />
        Created by Obi Nwokogba<br />
        <a href="https://github.com/obi-nwokogba/preacher-quotes" target="_blank">Project on GitHub</a>
        <br /> <br />
        Last updated June 20, 2021
    </footer>
    </body>
    
    </html>