<footer class="footerbox">
    &copy; 2021 Preacher Quotes<br />
    Created by Obi Nwokogba<br />
    <a href="https://github.com/obi-nwokogba/preacher-quotes" target="_blank">Project on GitHub</a>
</footer>
</body>

</html>