<header>
    <img src="/img/preacher_quotes_purple_svg.svg" alt="Preacher Quotes" class="topsvglogo" />
</header>
<nav>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/quotes">Quotes</a>
        <a href="/quotes/new">AddQuotes</a>
        <a href="/preachers">Preachers</a>
        <a href="/preachers/new">Add Preachers</a>
        <a href="/users">Users</a>
        <a href="/users/new">Sign Up</a>
    </div>
</nav>