/*
#1A0F21  DARKEST PURPLE
#341F42
#4E2E63
#693D83
#834CA4
#9D5CC5
#B76BE6
#C180EA
#CC95ED
#D6AAF1
#E0C0F4
#EAD5F8
#F5EAFB   LIGHTEST PURPLE

LESS SATURATED SPECTRUM
#211D22   DARKEST
#423B45
#635867
#847689
#A593AB
#C6B1CE
#E7CEF0
#EAD5F2
#EEDCF4
#F1E3F6
#F5EAF9
#F8F1FB
#FCF8FD   LIGHTEST
*/

body {
    background-color: #F9F3FB;
    color: #383838;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    padding-top: 50px;
    box-sizing: border-box;
}

h1 {}

h2 {}

h3 {
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 5px;
}

h4 {
    font-weight: 300;
}

.lighter {
    opacity: 0.8;
}

.lightest {
    opacity: 0.4;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

a {
    color: #8D649C;
    text-align: none;
    border-bottom: none;
}

a:hover {
    color: #2b2b2b;
    border-bottom: solid 2px #FAC70A;
    text-decoration: none;
}

strong.a{
    color:black !important;
}

main {
    background: #FCFCFC;
}

.leftdiv {
    display: flex;
    background: url(`/img/bg2.png`);
    width: 40%;
    color: #9D5CC5;
    border-top: solid 8px #9D5CC5;
    height: 100%;
    padding-left: 10px;
    padding-top: 30px;
    text-align: center;
    flex-direction: column;
}

.smallpreacherbox {
    width: 150px;
    height:200px;
    padding: 10px;
    border: dotted 1px rgb(184, 184, 184);
    display: inline-block;
    overflow: hidden;
    text-align: left;
}

.rightdiv {
    display: flex;
    width: 60%;
    background: #FCFCFC;
    min-height: 210px;
    padding: 50px;
    padding-top: 30px;
    text-align: left;
    flex-direction: column;
}

.quotetext{
    font-weight:200;
    font-size:2.5em;
    line-height:1.3em;
    margin-bottom:10px;
    margin-top:20px;
}

.rightdiv2 {
    display: flex;
    flex-wrap: wrap;
}

.rowcontainer {
    display: block;
    width:90%;
    text-align: left;
    padding: 15px;
}

.topsvglogo {
    width: 400px;
    opacity: 0.6;
    margin-bottom: 15px;
}

.maindiv {
    background: #FBF6FC;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.preacherthumbnailcontainer {

    max-width: 120px;
    max-height: 120px;
    border-radius: 10%;
    overflow: hidden;
    object-fit: cover;
}

.preacherthumbnail {
    max-width: 170px;
    max-height: 170px;
    transition:0.17s;
}

.preacherthumbnail:hover{
    opacity:0.8;
}

.footerbox {
    font-size: 0.9em;
    background: none;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px;
    opacity: 0.8;
    line-height: 1.9em;
}

.footerbox>a {
    margin-left: 15px;
    text-decoration: none;
    border-bottom: solid 2px #e3e3e3;
    text-decoration: none;
    padding-bottom: 7px;
}

.footerbox>a:hover {
    margin-left: 15px;
    text-decoration: none;
    border-bottom: solid 2px #FAC70A;
    text-decoration: none;
}

.navbar {
    display: flex;
    border-bottom: solid 3px #C6B1CE;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.103);
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.navbar>a {
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    border-top: dotted 3px transparent;
    padding-top: 8px;
    transition: 0.15s;
}

.navbar>a:hover {
    border-top: solid 3px #FAC70A;
    text-decoration: none !important;

}

.formtextfield {
    border: solid 2px #DDBAEA;
    border-bottom-width: 3px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    min-height:50px;
    width:300px;
    box-sizing: border-box;
}

.formselect {
    border: solid 2px #DDBAEA;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    width:300px;
    height:50px;
}

.formtextarea {
    border: solid 2px #DDBAEA;
    padding: 20px;
    border-radius: 5px;
    height: 30px;
    width: 400px;
    height: 200px;
    font-size: 1.2em;
    line-height: 1.4em;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #A593AB;
}

.button1 {
    background: #7D4392;
    color: white;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

.button4 {
    background: #9D5CC5;
    padding: 5px;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: 500;
    height: 35px;
    transition: 0.2s;
}

.button4:hover {
    color: white;
    opacity: 0.9;
    padding-right: 15px;
}

/*Mostly used for delete button*/

.button5 {
    background: #fc441f;
    padding: 5px;
    color: white;
    border: none;
    text-decoration: none;
    height: 30px;
    transition: 0.2s;
    font-weight: 500;
    height: 35px;
}

.button5:hover {
    background: #CC1122;
    opacity: 0.9;
    padding-right: 15px;
}






/* FIRST BREAKPOINT 
Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .navbar {
        display: block;
    }

    .maindiv {
        background: #FBF6FC;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0px;
        display: block;
        flex-direction: row;
        width: 100%;
    }

    .navbar>a {
        font-size: 0.9em;
        font-weight: 500;
        text-decoration: none;
        border-top: dotted 3px transparent;
        padding-top: 8px;
        transition: 0.15s;
        display: inline-block;
        margin-left: 15px;
    }

    .navbar>a:hover {
        border-top: solid 3px #FAC70A;
        text-decoration: none !important;
    }

    .topsvglogo {
        width: 200px;
        opacity: 0.6;
        margin-bottom: 15px;
    }

    .leftdiv {
        display: block;
        width: 95%;
        height: fit-content;
    }

    .rightdiv {
        display: block;
        width: 95%;
        text-align: left;
    }

    .formtextfield {
        border: solid 2px #DDBAEA;
        padding: 10px;
        border-radius: 5px;
        height: 30px;
    }

    .formselect {
        border: solid 2px #DDBAEA;
        padding: 10px;
        border-radius: 5px;
        height: 30px;
    }

    .formtextarea {
        border: solid 2px #DDBAEA;
        padding: 20px;
        border-radius: 5px;
        height: 30px;
        width: 70%;
        height: 100px;
        font-size: 1.2em;
        line-height: 1.4em;
    }
}









/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}











/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1500px and up) */

@media (min-width: 1500px) {}


a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}